<div class="container">

  <%= link_to sanitize("&larr; Volver"), :back %>

  <div class="header mt-4">
    <h1>Editar donacion</h1>
  </div>

  <%= turbo_frame_tag "remote_modal" do %>
    <%= render "layouts/modal_content", title: "Editar donacion" do %>
      <%= render 'form', donation: @donation %>
    <% end %>
  <% end %>
</div>
