<div class="container-fluid">
  <div class="header mt-4">
    <h1>Donaciones</h1>
  </div>

  <div class="d-flex border rounded bg-success mb-2 px-2">
    <div class="col">FECHA</div>
    <div class="col">DONANTE</div>
    <div class="col">EMAIL</div>
    <div class="col">TELEFONO</div>
    <div class="col">CANTIDAD</div>
    <div class="col">ESTADO</div>
    <div class="col-1">ACCIONES</div>
  </div>

  <%= render @donations %>
</div>
