<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Tu aporte es muy valioso, <strong><%= @donation.donor %></strong></h1>
    <p>
      Gracias a ti esta gran causa tiene continuidad.<br>
    </p>
    <p>Mil gracias!</p>
  </body>
</html>
